<a href="https://colab.research.google.com/github/imeekong/Tryouts/blob/revert-1-NathansDac-patch-1/Exercise23_23EGCO062.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAME: Ime Ime Ekong

REGISTRATION NUMBER: 23/EG/CO/062

In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/student_data.csv')

DATA INSPECTION

1. How many students are in the data set, as determined?

In [ ]:
print(f"The number of students in the dataset is: {df.shape[0]}")

The number of students in the dataset is: 395

2. How many female students are in the dataset?

In [ ]:
female_students = df[df['sex'] == 'F']
print(f"The number of female students in the dataset is: {female_students.shape[0]}")

The number of female students in the dataset is: 208

3. What are the ages of the first 5 records of the dataset?

In [ ]:
print("Ages of the first 5 students:")
print(df['age'].head(5))

Ages of the first 5 students:
0    18
1    17
2    15
3    15
4    16
Name: age, dtype: int64

4. How many students attend the GP school?

In [ ]:
gp_school_students = df[df['school'] == 'GP']
print(f"The number of students attending GP school is: {gp_school_students.shape[0]}")

The number of students attending GP school is: 349

5. What are the last ten records of the dataset, as shown by .tail(10)?

In [ ]:
print("Last 10 records of the dataset:")
print(df.tail(10))

Last 10 records of the dataset:
    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
385     MS   F   18       R     GT3       T     2     2   at_home     other
386     MS   F   18       R     GT3       T     4     4   teacher   at_home
387     MS   F   19       R     GT3       T     2     3  services     other
388     MS   F   18       U     LE3       T     3     1   teacher  services
389     MS   F   18       U     GT3       T     1     1     other     other
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
385  ...      5        3      3     1     3      4        2  10   9  10
386  ...      4        4      3     2     2      5        7   6   5   6
387  ...      5        4      2     1     2      5        0   7   5   0
388  ...      4        3      4     1     1      1        0   7   9   8
389  ...      1        1      1     1     1      5        0   6   5   0
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[10 rows x 33 columns]

6. How many students live in urban areas, based on .value_counts() for the address column?

In [ ]:
urban_students = df['address'].value_counts()['U']
print(f"The number of students living in urban areas is: {urban_students}")

The number of students living in urban areas is: 307

7. How many students have a family size greater than 3, using .value_counts() on the famsize column?

In [ ]:
large_family_students = df['famsize'].value_counts()['GT3']
print(f"The number of students with family size greater than 3 is: {large_family_students}")

The number of students with family size greater than 3 is: 281

8. What are the unique values in the reason column, using .unique()?

In [ ]:
print("Unique values in the 'reason' column:")
print(df['reason'].unique())

Unique values in the 'reason' column:
['course' 'other' 'home' 'reputation']

9. How many students have a mother as their guardian, based on .value_counts() for the guardian column?

In [ ]:
mother_guardian_students = df['guardian'].value_counts()['mother']
print(f"The number of students with a mother as their guardian is: {mother_guardian_students}")

The number of students with a mother as their guardian is: 273

Examining Structure and Metadata

1. How many columns are in the dataset, as determined by .shape[1]?

In [ ]:
print(f"The number of columns in the dataset is: {df.shape[1]}")

The number of columns in the dataset is: 33

2. What are the data types of all columns in the data set, using .dtypes()?

In [ ]:
print("Data types of all columns:")
print(df.dtypes)

Data types of all columns:
school        object
sex           object
age            int64
address       object
famsize       object
Pstatus       object
Medu           int64
Fedu           int64
Mjob          object
Fjob          object
reason        object
guardian      object
traveltime     int64
studytime      int64
failures       int64
schoolsup     object
famsup        object
paid          object
activities    object
nursery       object
higher        object
internet      object
romantic      object
famrel         int64
freetime       int64
goout          int64
Dalc           int64
Walc           int64
health         int64
absences       int64
G1             int64
G2             int64
G3             int64
dtype: object

3. How many non-null values are in the G3 column, using not.null().sum()?

In [ ]:
non_null_g3 = df['G3'].notnull().sum()
print(f"The number of non-null values in the G3 column is: {non_null_g3}")

The number of non-null values in the G3 column is: 395

4. What is the total memory usage of the dataset as reported by .info()?

In [ ]:
print("Total memory usage of the dataset:")
df.info(memory_usage='deep')

Total memory usage of the dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 395 entries, 0 to 394
Data columns (total 33 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   school      395 non-null    object
 1   sex         395 non-null    object
 2   age         395 non-null    int64
 3   address     395 non-null    object
 4   famsize     395 non-null    object
 5   Pstatus     395 non-null    object
 6   Medu        395 non-null    int64
 7   Fedu        395 non-null    int64
 8   Mjob        395 non-null    object
 9   Fjob        395 non-null    object
 10  reason      395 non-null    object
 11  guardian    395 non-null    object
 12  traveltime  395 non-null    int64
 13  studytime   395 non-null    int64
 14  failures    395 non-null    int64
 15  schoolsup   395 non-null    object
 16  famsup      395 non-null    object
 17  paid        395 non-null    object
 18  activities  395 non-null    object
 19  nursery     395 non-null    object
 20  higher      395 non-null    object
 21  internet    395 non-null    object
 22  romantic    395 non-null    object
 23  famrel      395 non-null    int64
 24  freetime    395 non-null    int64
 25  goout       395 non-null    int64
 26  Dalc        395 non-null    int64
 27  Walc        395 non-null    int64
 28  health      395 non-null    int64
 29  absences    395 non-null    int64
 30  G1          395 non-null    int64
 31  G2          395 non-null    int64
 32  G3          395 non-null    int64
dtypes: int64(16), object(17)
memory usage: 443.9 KB

5. How many categorical columns (e.g., school, sex) are in the dataset, based on .dtypes?

In [ ]:
categorical_columns = df.select_dtypes(include='object').shape[1]
print(f"The number of categorical columns in the dataset is: {categorical_columns}")

The number of categorical columns in the dataset is: 17

6. What are the names of all the columns in the dataset?

In [ ]:
print("Names of all columns:")
print(df.columns.tolist())

Names of all columns:
['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

7. How many numeric columns are in the dataset?

In [ ]:
numeric_columns = df.select_dtypes(include=np.number).shape[1]
print(f"The number of numeric columns in the dataset is: {numeric_columns}")

The number of numeric columns in the dataset is: 16

8. How many rows and columns does the dataset have?

In [ ]:
print(f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.")

The dataset has 395 rows and 33 columns.

9. What is the count of non-null entries for each column?

In [ ]:
print("Count of non-null entries for each column:")
print(df.notnull().sum())

Count of non-null entries for each column:
school        395
sex           395
age           395
address       395
famsize       395
Pstatus       395
Medu          395
Fedu          395
Mjob          395
Fjob          395
reason        395
guardian      395
traveltime    395
studytime     395
failures      395
schoolsup     395
famsup        395
paid          395
activities    395
nursery       395
higher        395
internet      395
romantic      395
famrel        395
freetime      395
goout         395
Dalc          395
Walc          395
health        395
absences      395
G1            395
G2            395
G3            395
dtype: int64

Statistical Summarizarion

1. What is the average final grade (G3) of students?

In [ ]:
average_g3 = df['G3'].mean()
print(f"The average final grade (G3) of students is: {average_g3:.2f}")

The average final grade (G3) of students is: 10.42

2. How many students have a studytime of more than 10 hours?

In [ ]:
studytime_greater_than_10 = df[df['studytime'] > 10].shape[0]
print(f"The number of students with studytime greater than 10 hours is: {studytime_greater_than_10}")

The number of students with studytime greater than 10 hours is: 0

3. What are the minimum and maximum ages of students in the dataset?

In [ ]:
min_age = df['age'].min()
max_age = df['age'].max()
print(f"The minimum age of students is: {min_age}")
print(f"The maximum age of students is: {max_age}")

The minimum age of students is: 15
The maximum age of students is: 22

4. How many students have zero absences?

In [ ]:
zero_absences_students = df[df['absences'] == 0].shape[0]
print(f"The number of students with zero absences is: {zero_absences_students}")

The number of students with zero absences is: 115

5. What is the median famrel score?

In [ ]:
median_famrel = df['famrel'].median()
print(f"The median famrel score is: {median_famrel}")

The median famrel score is: 4.0

6. How many unique values are in the Mjob column?

In [ ]:
unique_mjob_count = df['Mjob'].nunique()
print(f"The number of unique values in the Mjob column is: {unique_mjob_count}")

The number of unique values in the Mjob column is: 5

7. What is the standard deviation of G1 grades?

In [ ]:
std_g1 = df['G1'].std()
print(f"The standard deviation of G1 grades is: {std_g1:.2f}")

The standard deviation of G1 grades is: 3.32

8. How many students have a Walc (weekend alcohol consumption) score of 5?

In [ ]:
walc_5_students = df[df['Walc'] == 5].shape[0]
print(f"The number of students with a Walc score of 5 is: {walc_5_students}")

The number of students with a Walc score of 5 is: 28

9. What is the average traveltime for students?

In [ ]:
average_traveltime = df['traveltime'].mean()
print(f"The average traveltime for students is: {average_traveltime:.2f}")

The average traveltime for students is: 1.45

10. How many students have failures value of 4?

In [ ]:
failures_4_students = df[df['failures'] == 4].shape[0]
print(f"The number of students with a failures value of 4 is: {failures_4_students}")

The number of students with a failures value of 4 is: 0

11. What is the 75th percentile of G2 grades?

In [ ]:
percentile_75_g2 = df['G2'].quantile(0.75)
print(f"The 75th percentile of G2 grades is: {percentile_75_g2}")

The 75th percentile of G2 grades is: 13.0

12. How many students have a health score of 1 (very bad)?

In [ ]:
health_1_students = df[df['health'] == 1].shape[0]
print(f"The number of students with a health score of 1 is: {health_1_students}")

The number of students with a health score of 1 is: 47

13. What is the maximum number of absences recorded?

In [ ]:
max_absences = df['absences'].max()
print(f"The maximum number of absences recorded is: {max_absences}")

The maximum number of absences recorded is: 75

14. How many students want to pursue higher education?

In [ ]:
higher_education_students = df[df['higher'] == 'yes'].shape[0]
print(f"The number of students who want to pursue higher education is: {higher_education_students}")

The number of students who want to pursue higher education is: 375

15. What is the average freetime score for students?

In [ ]:
average_freetime = df['freetime'].mean()
print(f"The average freetime score for students is: {average_freetime:.2f}")

The average freetime score for students is: 3.24

16. How many unique values are in the Fjob column?

In [ ]:
unique_fjob_count = df['Fjob'].nunique()
print(f"The number of unique values in the Fjob column is: {unique_fjob_count}")

The number of unique values in the Fjob column is: 5

17. What is the distribution of goout scores?

In [ ]:
print("Distribution of goout scores:")
print(df['goout'].value_counts())

Distribution of goout scores:
goout
3    130
2    103
4     86
5     53
1     23
Name: count, dtype: int64

18. How many students have a Dalc (workday alcohol consumption) score of 1?

In [ ]:
dalc_1_students = df[df['Dalc'] == 1].shape[0]
print(f"The number of students with a Dalc score of 1 is: {dalc_1_students}")

The number of students with a Dalc score of 1 is: 276

19. What is the average Medu (mothers education) level?

In [ ]:
average_medu = df['Medu'].mean()
print(f"The average Medu (mothers education) level is: {average_medu:.2f}")

The average Medu (mothers education) level is: 2.75

20. How many students have a Pstatu of A (parents living apart)?

In [ ]:
pstatus_a_students = df[df['Pstatus'] == 'A'].shape[0]
print(f"The number of students with a Pstatus of A is: {pstatus_a_students}")

The number of students with a Pstatus of A is: 41

Detecting Missing Values and Anomalies

1. How many values are in G3 column?

In [ ]:
g3_count = df['G3'].count()
print(f"The number of values in the G3 column is: {g3_count}")

The number of values in the G3 column is: 395

2. What is the total number of missing values across all columns?

In [ ]:
total_missing_values = df.isnull().sum().sum()
print(f"The total number of missing values across all columns is: {total_missing_values}")

The total number of missing values across all columns is: 0

3. How many students have nonnull values in the internet columns?

In [ ]:
non_null_internet = df['internet'].notnull().sum()
print(f"The number of students with non-null values in the internet column is: {non_null_internet}")

The number of students with non-null values in the internet column is: 395

4. What percentage of the datasets rows have missing values?

In [ ]:
rows_with_missing_values = df.isnull().any(axis=1).sum()
percentage_rows_with_missing = (rows_with_missing_values / len(df)) * 100
print(f"The percentage of rows with missing values is: {percentage_rows_with_missing:.2f}%")

The percentage of rows with missing values is: 0.00%

5. How many students have an age outside the expected range (15-22)?

In [ ]:
students_outside_age_range = df[(df['age'] < 15) | (df['age'] > 22)].shape[0]
print(f"The number of students with an age outside the expected range (15-22) is: {students_outside_age_range}")

The number of students with an age outside the expected range (15-22) is: 0

6. What is the number of duplicate rows in the data set?

In [ ]:
duplicate_rows = df.duplicated().sum()
print(f"The number of duplicate rows in the dataset is: {duplicate_rows}")

The number of duplicate rows in the dataset is: 0

7. How many students have unusually high absences value (e.g.,>50)?

In [ ]:
unusually_high_absences = df[df['absences'] > 50].shape[0]
print(f"The number of students with unusually high absences (>50) is: {unusually_high_absences}")

The number of students with unusually high absences (>50) is: 3

8. What columns have the highest number of missing values?

In [ ]:
missing_values_count = df.isnull().sum()
highest_missing_count = missing_values_count.max()
columns_with_highest_missing = missing_values_count[missing_values_count == highest_missing_count].index.tolist()
print(f"The highest number of missing values in any column is: {highest_missing_count}")
print(f"Column(s) with the highest number of missing values: {columns_with_highest_missing}")

The highest number of missing values in any column is: 0
Column(s) with the highest number of missing values: ['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3']

9. How many students have inconsistent grades (e.g., G1 or G2>20)?

In [ ]:
inconsistent_grades_students = df[(df['G1'] > 20) | (df['G2'] > 20)].shape[0]
print(f"The number of students with inconsistent grades (G1 or G2 > 20) is: {inconsistent_grades_students}")

The number of students with inconsistent grades (G1 or G2 > 20) is: 0

10. What is the count of students with a failures value outside the expected range (1-4)?

In [ ]:
students_outside_failures_range = df[(df['failures'] < 1) | (df['failures'] > 4)].shape[0]
print(f"The number of students with a failures value outside the expected range (1-4) is: {students_outside_failures_range}")

The number of students with a failures value outside the expected range (1-4) is: 312

Eploring Relationships and Patterns

1. How many female students have a G3 grade above 15?

In [ ]:
female_students_high_g3 = df[(df['sex'] == 'F') & (df['G3'] > 15)].shape[0]
print(f"The number of female students with a G3 grade above 15 is: {female_students_high_g3}")

The number of female students with a G3 grade above 15 is: 16

2. What is the average G3 grade for students at the MS school using .groupby(school)?

In [ ]:
average_g3_ms_school = df.groupby('school')['G3'].mean()['MS']
print(f"The average G3 grade for students at the MS school is: {average_g3_ms_school:.2f}")

The average G3 grade for students at the MS school is: 9.85

3. How many students with study time greater than 5 hours have a G3 grade below 10, using .query()?

In [ ]:
students_studytime_low_g3 = df.query('studytime > 5 and G3 < 10').shape[0]
print(f"The number of students with study time greater than 5 hours and a G3 grade below 10 is: {students_studytime_low_g3}")

The number of students with study time greater than 5 hours and a G3 grade below 10 is: 0

4. How many students with internet=no have a G3 grade above 12, using .query()?

In [ ]:
students_no_internet_high_g3 = df.query('internet == "no" and G3 > 12').shape[0]
print(f"The number of students with internet=no and a G3 grade above 12 is: {students_no_internet_high_g3}")

The number of students with internet=no and a G3 grade above 12 is: 14

5. What is the average number of absences for students with famsup = yes, using .groupby(famsup)?

In [ ]:
average_absences_famsup_yes = df.groupby('famsup')['absences'].mean()['yes']
print(f"The average number of absences for students with famsup = yes is: {average_absences_famsup_yes:.2f}")

The average number of absences for students with famsup = yes is: 5.86

6. How many students with Mjob = teacher have a G3 grade above 15, using .query()?

In [ ]:
students_teacher_mom_high_g3 = df.query('Mjob == "teacher" and G3 > 15').shape[0]
print(f"The number of students with Mjob = teacher and a G3 grade above 15 is: {students_teacher_mom_high_g3}")

The number of students with Mjob = teacher and a G3 grade above 15 is: 9

7. What is the correlation between G1 and G3 grades?

In [ ]:
correlation_g1_g3 = df['G1'].corr(df['G3'])
print(f"The correlation between G1 and G3 grades is: {correlation_g1_g3:.2f}")

The correlation between G1 and G3 grades is: 0.80

8. How many students with traveltime>2 have a G3 grade below 10, using .query()?

In [ ]:
students_traveltime_low_g3 = df.query('traveltime > 2 and G3 < 10').shape[0]
print(f"The number of students with traveltime > 2 and a G3 grade below 10 is: {students_traveltime_low_g3}")

The number of students with traveltime > 2 and a G3 grade below 10 is: 11

9. What is the average G3 grade for students with higher = yes, using .groupby(higher)?

In [ ]:
average_g3_higher_yes = df.groupby('higher')['G3'].mean()['yes']
print(f"The average G3 grade for students with higher = yes is: {average_g3_higher_yes:.2f}")

The average G3 grade for students with higher = yes is: 10.61

10. How many students with Walc > 3 have a G3 grade below , using .query()?

In [ ]:
# Replace 'your_g3_threshold' with the desired G3 grade threshold
students_walc_high_low_g3 = df.query('Walc > 3 and G3 < 10').shape[0]
print(f"The number of students with Walc > 3 and a G3 grade below 10 is: {students_walc_high_low_g3}")

The number of students with Walc > 3 and a G3 grade below 10 is: 30

11. What is the distribution of reasons for students with G3 > 15 using .groupby(reason)?

In [ ]:
high_g3_students = df[df['G3'] > 15]
reason_distribution_high_g3 = high_g3_students.groupby('reason').size().reset_index(name='count')
print("Distribution of reasons for students with G3 > 15:")
print(reason_distribution_high_g3)

Distribution of reasons for students with G3 > 15:
       reason  count
0      course     14
1        home     11
2       other      4
3  reputation     11

12. How many students famsize = LE3 have a G3 grade above 12, using .query()?

In [ ]:
students_famsize_le3_high_g3 = df.query('famsize == "LE3" and G3 > 12').shape[0]
print(f"The number of students with famsize = LE3 and a G3 grade above 12 is: {students_famsize_le3_high_g3}")

The number of students with famsize = LE3 and a G3 grade above 12 is: 41

13. What is the average famrel score for students with guardian = father, using .groupby(guardian)?

In [ ]:
average_famrel_father_guardian = df.groupby('guardian')['famrel'].mean()['father']
print(f"The average famrel score for students with guardian = father is: {average_famrel_father_guardian:.2f}")

The average famrel score for students with guardian = father is: 3.91

14. How many students with schoolsup = yes have a G3 grade below 10, using .query()?

In [ ]:
students_schoolsup_low_g3 = df.query('schoolsup == "yes" and G3 < 10').shape[0]
print(f"The number of students with schoolsup = yes and a G3 grade below 10 is: {students_schoolsup_low_g3}")

The number of students with schoolsup = yes and a G3 grade below 10 is: 23

15. What is the correlation betwen studytime and G3, using .corr()?

In [ ]:
correlation_studytime_g3 = df['studytime'].corr(df['G3'])
print(f"The correlation between studytime and G3 grades is: {correlation_studytime_g3:.2f}")

The correlation between studytime and G3 grades is: 0.10

16. How many students with address = R have a G3 grade above 15, using .query()?

In [ ]:
students_rural_high_g3 = df.query('address == "R" and G3 > 15').shape[0]
print(f"The number of students with address = R and a G3 grade above 15 is: {students_rural_high_g3}")

The number of students with address = R and a G3 grade above 15 is: 7

17. What is the average dropout score for students with G3 < 10, using .groupby() and a condition?

In [ ]:
low_g3_students = df[df['G3'] < 10]
average_failures_low_g3 = low_g3_students['failures'].mean()
average_absences_low_g3 = low_g3_students['absences'].mean()

print(f"The average number of failures for students with G3 < 10 is: {average_failures_low_g3:.2f}")
print(f"The average number of absences for students with G3 < 10 is: {average_absences_low_g3:.2f}")

The average number of failures for students with G3 < 10 is: 0.69
The average number of absences for students with G3 < 10 is: 6.76

18. How many students with paid = yes have a G3 grade above 12, using .query()?

In [ ]:
students_paid_high_g3 = df.query('paid == "yes" and G3 > 12').shape[0]
print(f"The number of students with paid = yes and a G3 grade above 12 is: {students_paid_high_g3}")

The number of students with paid = yes and a G3 grade above 12 is: 62

19. What is the distribution of health scores for students with G3 > 15?

In [ ]:
high_g3_students = df[df['G3'] > 15]
health_distribution_high_g3 = high_g3_students['health'].value_counts().reset_index(name='count')
health_distribution_high_g3.columns = ['health_score', 'count']
print("Distribution of health scores for students with G3 > 15:")
print(health_distribution_high_g3)

Distribution of health scores for students with G3 > 15:
   health_score  count
0             5     12
1             4      8
2             1      7
3             3      7
4             2      6

EXERCISE - Basic Data Saving

1. How many rows are saved when exporting the data set to a CSV file using DataFrame.to_csv()?

In [ ]:
# Save the DataFrame to a temporary CSV file
df.to_csv('temp_student_data.csv')

# The number of rows saved to the CSV will be the same as the number of rows in the DataFrame
rows_saved_csv = df.shape[0]
print(f"The number of rows saved when exporting to a CSV file is: {rows_saved_csv}")

The number of rows saved when exporting to a CSV file is: 395

2. What is the file size of the dataset when saved as a CSV without the index, using DataFrame.to_csv(index=False)?

In [ ]:
import os

# Save the DataFrame to a temporary CSV file without the index
df.to_csv('temp_student_data_no_index.csv', index=False)

# Get the file size
file_size_bytes = os.path.getsize('temp_student_data_no_index.csv')
print(f"The file size of the dataset when saved as CSV without the index is: {file_size_bytes} bytes")

The file size of the dataset when saved as CSV without the index is: 41983 bytes

3. How many columns are included when saving only school, sex, G1, G2, and G3 to an Excel file?

In [ ]:
selected_columns = ['school', 'sex', 'G1', 'G2', 'G3']
num_columns_saved = df[selected_columns].shape[1]
print(f"The number of columns included when saving to an Excel file is: {num_columns_saved}")

The number of columns included when saving to an Excel file is: 5

4. What is the structure of the dataset when saved to JSON with orient=records, using DataFrame.to_csv()?

In [ ]:
# Select a small subset of the data to demonstrate the JSON structure
subset_df = df[['school', 'sex', 'age', 'G3']].head(3)

# Convert the subset DataFrame to JSON with orient='records'
json_output = subset_df.to_json(orient='records', indent=4)

print("Structure of the dataset when saved to JSON with orient='records':")
print(json_output)

Structure of the dataset when saved to JSON with orient='records':
[
    {
        "school":"GP",
        "sex":"F",
        "age":18,
        "G3":6
    },
    {
        "school":"GP",
        "sex":"F",
        "age":17,
        "G3":6
    },
    {
        "school":"GP",
        "sex":"F",
        "age":15,
        "G3":10
    }
]

5. What is the effect of using if_exists=replace when saving the data set to an existing Excel sheet?

Using `if_exists='replace'` when saving a DataFrame to an existing Excel sheet will overwrite the entire content of that sheet with the data from your DataFrame.

6. How would you verify that the sex column is correctly saved in a CSV file after using DataFrame.to_csv()?

In [ ]:
# Assuming the DataFrame was saved to 'temp_student_data.csv' previously
# Read the CSV file back into a new DataFrame
loaded_df = pd.read_csv('temp_student_data.csv')

# Check the first few rows of the 'sex' column in the loaded DataFrame
print("First 5 values of the 'sex' column in the loaded CSV:")
print(loaded_df['sex'].head())

# You can also check the data type
print("\nData type of the 'sex' column in the loaded CSV:")
print(loaded_df['sex'].dtype)

# And compare value counts if needed
print("\nValue counts of the 'sex' column in the loaded CSV:")
print(loaded_df['sex'].value_counts())

First 5 values of the 'sex' column in the loaded CSV:
0    F
1    F
2    F
3    F
4    F
Name: sex, dtype: object

Data type of the 'sex' column in the loaded CSV:
object

Value counts of the 'sex' column in the loaded CSV:
sex
F    208
M    187
Name: count, dtype: int64

7. How many records are saved when exporting students with school = GP to a JSON file?

In [ ]:
gp_students = df[df['school'] == 'GP']
num_records_saved_json = gp_students.shape[0]
print(f"The number of records saved when exporting students with school = GP to a JSON file is: {num_records_saved_json}")

The number of records saved when exporting students with school = GP to a JSON file is: 349

8. How would you confirm that the G3 column is preserved accurately when saving to an Excel?

In [ ]:
# Save the DataFrame to an Excel file named 'temp_student_data.xlsx'
df.to_excel('temp_student_data.xlsx', index=False)

# Read the Excel file back into a new DataFrame
loaded_excel_df = pd.read_excel('temp_student_data.xlsx')

# Check the first few rows of the 'G3' column in the loaded DataFrame
print("First 5 values of the 'G3' column in the loaded Excel file:")
print(loaded_excel_df['G3'].head())

# You can also check the data type
print("\nData type of the 'G3' column in the loaded Excel file:")
print(loaded_excel_df['G3'].dtype)

# And compare descriptive statistics if needed
print("\nDescriptive statistics of the 'G3' column in the loaded Excel file:")
print(loaded_excel_df['G3'].describe())

# You could also compare the original 'G3' column with the loaded one directly
# print("\nAre the original and loaded 'G3' columns equal?")
# print(df['G3'].equals(loaded_excel_df['G3']))

First 5 values of the 'G3' column in the loaded Excel file:
0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

Data type of the 'G3' column in the loaded Excel file:
int64

Descriptive statistics of the 'G3' column in the loaded Excel file:
count    395.000000
mean      10.415190
std        4.581443
min        0.000000
25%        8.000000
50%       11.000000
75%       14.000000
max       20.000000
Name: G3, dtype: float64